header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: var(--bg-header);
    box-shadow: 1px 8px 15px -7px var(--shadow-2);
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
}

.header-logo {
    height: 30px;
    width: 30px;
    object-fit: cover;
}
.header-left {
    padding: 5px  1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon {
    height: 20px;
    width: 30px;
    color: var(--color-primary);
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -7px;
    background-color: var(--bg-forth);
    height: 46px;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: text;
}

.search input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

@media screen and (max-width:1030px) {
  .search input {
    display: none;
  }
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 15px;
    transform: translateX(3px);
}

.middle-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px !important;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-2px);
}

.middle-icon:nth-child(2) {
    transform: translateX(-2px);
}

.middle-icon:nth-child(3) {
    transform: translateX(-3px);
}

.middle-icon:nth-child(4) {
    transform: translateX(-5px);
}

.middle-icon:nth-child(5) {
    transform: translateX(-5px);
}

.header-icons {
    height: 30px;
    width: 20px;
    cursor: pointer;
}

.hover1:hover {
    background-color: var(--bg-third);
}

.hover2:hover {
    background-color: var(--bg-third);
}

.active {
    border-bottom: 3px solid var(--color-primary);
    border-radius: 0px;
    height: 56px;
    transform: translateX(0);
}

.middle-notification {
    position: absolute;
    top: -2px;
    right: 1.9rem;
    background: #e41e3f;
    border-radius: 50px;
    padding: 1px 5px;
    font-size: 10px;
    color: #fff;
}

.profile-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.profile-picture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.profile-link span {
    text-decoration: none !important;
    color: var(--color-primary);
    font-size: 18px;
}

.header-right {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.circle-icon {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background: var(--bg-third);
  cursor: pointer;
}

.right-notification {
    position: absolute;
    top: -6px;
    right: -5px;
    background: #e41e3f;
    border-radius: 50px;
    padding: 1px 6px;
    font-size: 13px;
    color: #fff;
}

/*----- Search Menu ------*/
.search-area {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    background: var(--bg-primary);
    box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    border-radius: 10px;
    transition: all 0.2s;
    --webkit-font-smoothing:antialiased;
    min-height: 400px;
    max-height: 70vh;
    padding: 15px 8px;
}

.search-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
}

.search-area .search {
    padding: 10px 44px 10px 12px;
    width: 322px;
    gap: 6px;
}

.search-area .search input {
    padding-left: 4px;
}

.search-history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.search-history-header span {
    font-weight: 700;
    font-size: 16px;
}

.search-history-header a {
    font-weight: 600;
    font-size: 13px;
    color: var(--color-primary);
}

.all_menu {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    background: var(--bg-secondary);
    border-radius: 10px;
    height: 90vh;
    width: 575px;
    padding: 15px 1rem;
    box-shadow: -2px 1px 5px 2px var(--shadow-1);
    user-select: none;
  }
  .all_menu_header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .all_menu_wrap {
    display: grid;
    grid-template-columns: 1.7fr 0.75fr;
    gap: 2rem;
    overflow-y: auto;
    height: 95%;
  }
  
  .all_left {
    background: var(--bg-primary);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .all_menu_search {
    background: var(--bg-secondary);
  
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 50px;
  }
  .all_menu_search input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 15px;
  }
  .all_menu_group {
    margin-top: 10px;
    border-bottom: 1px solid #ced0d4;
  }
  .all_menu_group_header {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
  }
  .all_menu_group {
    width: 100%;
  }
  .all_menu_item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .all_menu_item img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .all_menu_col {
    display: flex;
    flex-direction: column;
  }
  .all_menu_col span:first-of-type {
    font-size: 14px;
    font-weight: 500;
  }
  .all_menu_col span:last-of-type {
    font-size: 12px;
    color: #65676b;
    width: 95%;
  }
  .all_right {
    padding: 15px 10px;
    background: var(--bg-primary);
    margin-right: 1rem;
    border-radius: 10px;
    height: 470px;
    width: 190px;
    position: fixed;
    right: 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .all_right_header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .all_right_item {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 1px;
  }
  
  .all_right_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-third);
  }

  .all_menu_img {
    height: 30px;
    width: 30px;
  }

  .menu {
    padding: 0 0.3rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 2px 2px 2px var(--shadow-1);
    user-select: none;
    padding: 10px;
  }
  .menu_header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    gap: 10px;
  }
  .menu_header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  .menu_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu_col span:first-of-type {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .menu_col span:last-of-type {
    font-size: 14px;
  }
  .menu_main {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .menu_splitter {
    width: 100%;
    height: 1px;
    background: var(--bg-third);
    margin-top: 5px;
  }
  .menu_span1 {
    font-size: 14px !important;
  }
  .menu_span2 {
    font-size: 12px !important;
    color: var(--color-secondary);
  }
  .menu_item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
  }
  .rArrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .absolute_wrap {
    padding: 0 0.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 360px;
    height: fit-content;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 2px 2px 2px var(--shadow-1);
    user-select: none;
    padding: 10px;
  }
  .absolute_wrap .menu_item {
    margin-top: 0;
  }
  .absolute_wrap_header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
  }
  
  .absolute_wrap label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  .absolute_wrap label input {
    width: 20px;
    height: 20px;
  }
  .search_user_item i {
    position: absolute;
    right: 10px;
    transform: scale(0.6);
  }

  .small_circle {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    background: var(--bg-third);
    cursor: pointer;
  }

  @media (max-width: 1295px) {
    .middle-icon {
      width: 90px;
    }
  }
  @media (max-width: 1130px) {
    .middle-icon {
      width: 70px;
    }
  }
  @media (max-width: 1024px) {
    .search1 {
      /* width: 40px;
      height: 40px;
      padding: 0;
      justify-content: center; */
      display: none;
    }
    .search1 input {
      display: none;
    }
    .header-middle {
      transform: translateX(-15%);
    }
  }
  @media (max-width: 945px) {
    .header-middle {
      transform: translateX(-22%);
    }
  }
  @media (max-width: 850px) {
    .header-middle {
      transform: translateX(-30%);
    }
    .middle-icon:nth-child(5) {
      display: none;
    }
  }
  @media (max-width: 770px) {
    .header-middle {
      transform: translateX(-37%);
    }
    .middle-icon:nth-child(4) {
      display: none;
    }
  }
  @media (max-width: 720px) {
    .middle-icon:nth-child(3) {
      display: none;
    }
  }
  /*---responsive----------*/
  @media (max-width: 620px) {
    .profile-link {
      display: none;
    }
    .all_menu {
      width: 485px;
      right: 15px;
    }
    .all_left {
      width: 250px;
    }
  }
  @media (max-width: 550px) {
    .middle-icon:nth-child(1) {
      display: none;
    }
    .header_middle {
      transform: translateX(-20%);
    }
  }
  @media (max-width: 505px) {
    .all_menu {
      width: 340px;
      right: 1rem;
    }
    .all_menu_wrap {
      grid-template-columns: 1fr;
    }
    .all_left {
      width: 100%;
    }
    .all_right {
      position: relative;
      width: 100%;
      padding-left: 3rem;
      margin-bottom: 1rem;
    }
  }
  @media (max-width: 400px) {
    .header-right .circle-icon:nth-child(3) {
      display: none;
    }
    .menu {
      width: 290px;
    }
    .all_menu {
      width: 260px;
      right: 0.4rem;
    }
    .search_area {
      width: 310px;
    }
  }
  /*---responsive----------*/

  .active_header {
    background: var(--light-green-color);
  }
  .active_header svg {
    fill: var(--green-color);
  }
  .active_link {
    background: var(--light-green-color);
    color: var(--green-color);
  }